<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= subject %></title>
    <style>
        h3 {
            font-family: Arial, sans-serif;
        }

        h4 {
            font-family: Arial, sans-serif;
            color: gray;
        }

        .baton {
            display: inline-block;
            cursor: pointer;
            font-size: 16px;
            text-decoration: none;
            padding: 14px 28px;
            color: #ffffff !important;
            background: #007AFF;
            border-radius: 11px;
            border: 2px solid #007AFF;
        }

        .baton:hover {
            background: #106cad;
            color: #ffffff;
            border: 2px solid #106cad;
            transition: all 0.2s ease;
        }
    </style>
</head>
<body>

<h3>
    <b><%= subject %></b>
</h3>
<br>
<h4>
    Please follow the link to change your password:
</h4>
<br>
<a class="baton" href="<%= passwordChangeLink %>" target="_blank" title="Confirm registration">Set new password</a>

</body>
</html>
