<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>testSendEmail</title>
    <style>
        h1 {
         font-family: Arial;
        } 
        h2 {
         font-family: Arial;
         color: gray;
        } 
        .iksweb{
        display: inline-block;
        cursor: pointer;
        font-family: Arial;
        font-size:16px;
        text-decoration:none;
        padding:14px 28px;
        color:#179eff;
        background:#f5f6f7;
        border-radius:11px;
        border:2px solid #e8e9eb;
        }


</style>


</head>
<body>
<h1><b>UX for the future of fintech -
<br>Martian banks are already real - Pay for webinar</body></b></h1>
<br>
<h2>Tou have successfully registered for the webinar UX for the future of fintech -
<br>Martian banks are already real.
<br>Webinar link:</h2> 
<br>
<a class="iksweb" href="https://rifgo.com/maxim_mostovoy/1703" target="_blank"  title="https://rifgo.com/maxim_mostovoy/1703" margin="3px" > rifgo.com/maxim_mostovoy/1703     &#160; &#160; &#160; &#160; &#160; &#160; <img src="https://cdn.icon-icons.com/icons2/1239/PNG/512/copy_83918.png"     width="16" height="16" > </a>
</body>
</html>